body {
	background: #cfd8dc
}

.card{
  background-color: #90a4ae;
	margin: 5% 0%;
  max-height: 600px;
  overflow: auto;
  }
  
  .card-body{
	margin: 0% 0% 0% 3%;
	padding: 6% 0%;
  }
  #header {
	background: url(https://images.unsplash.com/photo-1415795854641-f4a487a0fdc8?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) center center / cover no-repeat ;
  }  