body {
	background: #1c2326;
}

.card{
  background-color: #111517;
  color: #c3bab5;
	margin: 5% 0%;
  max-height: 600px;
  overflow: auto;
  }
  
  .card-body{
	margin: 0% 0% 0% 3%;
	padding: 6% 0%;
  }
  #header {
	background: url(https://picsum.photos/1000/1000/?blur=6) center center / cover no-repeat ;
  }  
  /* mat-progress-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
} */